.btn-xlarge {
  font-size: 22px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 100%;
}
.result-box {
  height: 67px;
  font-size: 44px;
  text-align: right;
  margin-bottom: 20px;
  width: 100%;
}
.amount-box {
  box-shadow: inset 3px 3px rgba(0, 0, 0, 0.2);
}
table {
  width: 100%;
}
tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}
thead th {
  height: 30px;
  /*text-align: left;*/
}
tbody {
  max-height: 220px;
  overflow-y: auto;
}
thead {
  /* fallback */
}
.ticket-panel {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.container-max-960 {
  max-width: 960px;
  margin: 0 auto;
}
.padding-top {
  padding-top: 15px;
}
.width-100 {
  width: 100%;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table > thead > tr > th {
  padding: 0px;
}
.firstColumn {
  padding-left: 8px !important;
}
.lastColumn {
  padding-right: 8px !important;
}
