<div class="row" style="padding-top: 15px;">
    <!--<div class="container-max-960">-->
    <div class="col-sm-6 col-xs-12 padding-top">
        <div class="input-group width-100">
            <input class="result-box" ng-model="itemCode"/>
                <span class="input-group-btn" style="width: auto">
                    <button ng-click="itemCode = ''" class="btn btn-default result-box" type="button" style="padding-top: 0px !important;padding-bottom: 0px !important;">
                        <i class="fa fa-times"></i>
                    </button>
                    </span>
        </div>

        <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('1')">1</button>
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('4')">4</button>
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('7')">7</button>
            <button type="button" class="btn btn-danger btn-xlarge btn3d" ng-click="deleteTransactionItem()"><i
                    class="fa fa-times fa-lg"></i></button>
            <button class="btn btn-warning btn-xlarge btn3d" ng-click="getTicket()"
                    ng-disabled="(transaction.transactionItemList.length === 0) || (transaction.remainingAmount !== 0)">
                <i class="fa fa-ticket"></i>
            </button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('2')">2</button>
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('5')">5</button>
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('8')">8</button>
            <button type="button" class="btn btn-primary btn-xlarge btn3d">0</button>
            <button type="button" class="btn btn-info btn-xlarge btn3d" ng-click="showPaymentByCash()"
                    ng-disabled="!paymentAvailable()"><i
                    class="fa fa-money"></i></button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('3')">3</button>
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('6')">6</button>
            <button type="button" class="btn btn-primary btn-xlarge btn3d" ng-click="addNumber('9')">9</button>
            <button type="button" class="btn btn-success btn-xlarge btn3d" ng-click="addTransactionItem()"><i
                    class="fa fa-check fa-lg"></i></button>
            <button type="button" class="btn btn-info btn-xlarge btn3d" ng-click="showPaymentByCreditCard()"
                    ng-disabled="!paymentAvailable()"><i
                    class="fa fa-credit-card"></i></button>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12 padding-top">
        <input class="result-box amount-box" ng-model="transaction.euroTotalAmount" ng-disabled="true"/>
        <div class="panel panel-default">
            <table class="table">
                <thead>
                <TR>
                    <TH class="truncate firstColumn">
                        <small>Cantidad</small>
                    </TH>
                    <TH class="truncate">
                        <small>Descripción</small>
                    </TH>
                    <TH class="text-right truncate">
                        <small>Precio</small>
                    </TH>
                    <TH class="text-right truncate">
                        <small>Descuento</small>
                    </TH>
                    <TH class="text-right truncate lastColumn">
                        <small>Importe</small>
                    </TH>
                </TR>
                </thead>
                <tbody>
                <TR ng-repeat="item in transaction.transactionItemList | orderBy: 'id'">
                    <TD class="truncate firstColumn"><a ng-click="lessQuantity(item.id)"><i
                            class="fa fa-minus-circle"></i></a>
                        {{item.quantity}}
                        <a ng-click="addQuantity(item.id)"><i class="fa fa-plus-circle"></i></a>
                    </TD>
                    <TD class="truncate">{{item.item.description}}</TD>
                    <TD class="text-right truncate">{{item.item.unitPrice |currency}}</TD>
                    <TD class="text-right truncate">{{item.discountAmount |currency}}</TD>
                    <TD class="text-right truncate lastColumn">{{item.subTotal | currency}}</TD>
                </TR>
                </tbody>
                <tfoot style="background-color: #f5f5f5;">
                <tr>
                    <td colspan="3"></td>
                    <td>Subtotal</td>
                    <td class="text-right">{{transaction.subTotal | currency}}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>Tasas</td>
                    <td class="text-right">{{transaction.taxesAmount | currency}}</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td>Total</td>
                    <td class="text-right">{{transaction.totalAmount | currency}}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>